<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Contract Create Form</h2>
    </header>
    <div class="row gtr-150">
      <div class="col-4 col-12-medium">

        <!-- Sidebar -->
        <section id="sidebar">
          <section>
            <h3>Tạo Lập Contract Furama</h3>
            <p>Ở đây bạn sẽ tạo lập contract mới :D</p>
            <p>Bạn sẽ tạo mới contract ở đây :))</p>
            <p>Vẫn là contract nhưng bạn sẽ tạo mới nó =))</p>
            <p>Không có gì thay đổi, bạn sẽ tạo mới contract :></p>
          </section>
          <hr/>
          <section>
            <a href="#" class="image fit"><img src="../images/crush.jpg" alt=""/></a>
            <h3>Con day la crush cua toi :></h3>
          </section>
        </section>

      </div>
      <div class="col-8 col-12-medium imp-medium">

        <section id="content" style="width: 110%; height: 80%">
          <section>
            <form method="post" action="#">
              <div class="row gtr-uniform gtr-50">
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="name" id="name" value="" placeholder="Name"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="email" name="email" id="email" value="" placeholder="Email"/>
                </div>
                <div class="col-12">
                  <select name="category" id="category">
                    <option value="">- Category -</option>
                    <option value="1">Manufacturing</option>
                    <option value="1">Shipping</option>
                    <option value="1">Administration</option>
                    <option value="1">Human Resources</option>
                  </select>
                </div>
                <div class="col-4 col-12-medium">
                  <input type="radio" id="priority-low" name="priority" checked>
                  <label for="priority-low">Low Priority</label>
                </div>
                <div class="col-4 col-12-medium">
                  <input type="radio" id="priority-normal" name="priority">
                  <label for="priority-normal">Normal Priority</label>
                </div>
                <div class="col-4 col-12-medium">
                  <input type="radio" id="priority-high" name="priority">
                  <label for="priority-high">High Priority</label>
                </div>
                <div class="col-6 col-12-medium">
                  <input type="checkbox" id="copy" name="copy">
                  <label for="copy">Email me a copy of this message</label>
                </div>
                <div class="col-6 col-12-medium">
                  <input type="checkbox" id="human" name="human" checked>
                  <label for="human">I am a human and not a robot</label>
                </div>
                <div class="col-12">
                                        <textarea name="message" id="message" placeholder="Enter your message"
                                                  rows="6"></textarea>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li><input type="submit" value="Send Message" class="primary"/></li>
                    <li><input type="reset" value="Reset"/></li>
                  </ul>
                </div>
              </div>
            </form>
          </section>
        </section>

      </div>
    </div>
  </div>
</div>
