<div class="row">

  <div class="leftcolumn">

    <div class="card">
      <h2>Champion List</h2>
      <hr>
      <table class="table table-hover">
        <thead>
        <tr>
          <th>N.o</th>
          <th>Name</th>
          <th>Nation</th>
          <th>Genre</th>
          <th>Champion Type</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let x of championList | paginate: { itemsPerPage: 3, currentPage: page }, let  i = index">
          <td>{{i + 1}}</td>
          <td>{{x.name}}</td>
          <td>{{x.nation}}</td>
          <td>{{x.genre}}</td>
          <td>{{x.championType.name}}</td>
          <td style="display: flex; gap: 10px;">

            <button (click)="viewChampion(x.id)"
                    class="btn btn-info"
                    data-bs-toggle="modal"
                    data-bs-target="#viewModal">View
            </button>

            <button [routerLink]="['/champion/edit',x.id]"
                    class="btn btn-warning">Edit</button>

            <button
              (click)="getDeleteId(x.id, x.name)"
              class="btn btn-danger"
              data-bs-toggle="modal"
              data-bs-target="#deleteModal">
              Delete
            </button>

          </td>
        </tr>
        </tbody>
      </table>
      <pagination-controls (pageChange)="page = $event"></pagination-controls>
    </div>
  </div>

  <div class="rightcolumn">

    <div class="card">
      <h2>Search</h2>
      <hr>
      <pre style="font-family: 'Segoe UI'">Champion Name:  <input placeholder="..."
                                                                  type="text" [(ngModel)]="championNameSearch"/></pre>

      <pre style="font-family: 'Segoe UI'">Champion Type:    <select [(ngModel)]="championTypeSearch">
        <option value="">-- Champion Type --</option>
        <option *ngFor="let x of championTypeList" value="{{x.id}}">{{x.name}}</option>
      </select></pre>

      <hr>
      <div style="display: flex; align-content: center; justify-content: center">
        <button class="btn btn-primary" style="max-width: 50%" (click)="search()">Search</button>
      </div>

    </div>

  </div>

  <div class="modal fade" id="deleteModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">Delete Champion</h1>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <p>Do you really want to Delete <span style="color: red">{{nameDelete}}</span> ?</p>

        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary" data-bs-dismiss="modal">Close
          </button>

          <button (click)="deleteChampion()" class="btn btn-danger" data-bs-dismiss="modal">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="viewModal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5">View Champion</h1>
          <button class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <table class="table table-hover">
            <tbody>
            <tr>
              <th>Name</th>
              <td>{{championView.name}}</td>
            </tr>
            <tr>
              <th>Nation</th>
              <td>{{championView.nation}}</td>
            </tr>
            <tr>
              <th>Genre</th>
              <td>{{championView.genre}}</td>
            </tr>
            <tr>
              <th>Champion Type</th>
              <td>{{championView.championType.name}}</td>
            </tr>
            </tbody>

          </table>

        </div>
        <div class="modal-footer">
          <button
            class="btn btn-secondary" data-bs-dismiss="modal">Close
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
