<footer class="footer">
    <div class="grid">
      <div class="grid__row">
        <div class="grid__column-2-4">
          <h3 class="footer__heading">Chăm sóc khách hàng</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-item-link">Trung tâm trợ giúp</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">Hudagon - Music mall</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">Hướng dẫn mua hàng</a>
            </li>
          </ul>
        </div>
        <div class="grid__column-2-4">
          <h3 class="footer__heading">Về chúng tôi</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-item-link">Giới thiệu</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">Điêu khoản</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">Tuyển dụng</a>
            </li>
          </ul>
        </div>
        <div class="grid__column-2-4">
          <h3 class="footer__heading">Danh mục</h3>
          <ul class="footer__list">
            <li class="footer__list-item">
              <a class="footer__list-item-link">Trang điểm mặt</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">Trang điểm môi</a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">Trang điểm mắt</a>
            </li>
          </ul>
        </div>
        <div class="grid__column-2-4">
          <h3 class="footer__heading">Theo dõi</h3>
          <ul class="footer__list list-contact-icon">
            <li class="footer__list-item">
              <a class="footer__list-item-link">
                <i
                  class="list-item-link__footer-icon fa-brands fa-facebook"
                ></i>
                Facebook
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">
                <i
                  class="list-item-link__footer-icon fa-brands fa-instagram"
                ></i>
                Instagram
              </a>
            </li>
            <li class="footer__list-item">
              <a class="footer__list-item-link">
                <i
                  class="list-item-link__footer-icon fa-brands fa-linkedin"
                ></i>
                Linkedin
              </a>
            </li>
          </ul>
        </div>
        <div class="grid__column-2-4">
          <h3 class="footer__heading">Vào cửa hàng trên ứng dụng</h3>
          <div class="footer__download">
            <img
              src="/assets/img/others/qr-code.png"
              alt="Ảnh Qr"
              class="footer__download-qr"
            />
            <div class="footer__download-apps">
              <a href="" class="download-apps__link">
                <img
                  src="/assets/img/others/app-store.png"
                  alt="App store"
                  class="download-apps__link-img"
              /></a>
              <a href="" class="download-apps__link">
                <img
                  src="/assets/img/others/google-play.png"
                  alt="Google play"
                  class="download-apps__link-img"
              /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <div class="grid">
        <p class="footer__text">Bản quyền thuộc về Hudagon - Music </p>
      </div>
    </div>
  </footer>