body {
  font-family: sans-serif;
}


a {
  text-decoration: none;
}

.text-center a {
  color: blue;
}

.mb-4 .text-primary h2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-body {
  padding: 32px 24px;
}

.bordert {
  border-top: 1px solid #aaa;
  position: relative
}

.bordert:after {
  content: "Hoặc đăng nhập với";
  position: absolute;
  top: -13px;
  left: 27%;
  background-color: #fff;
  padding: 0px 8px
}

img {
  width: 40px;
  height: 40px;
  object-fit: cover;
  border-radius: 50%;
  position: relative
}

small {
  color: red;
}

.floating-password {
  margin-top: 29px;
}
