.filter-group {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
}

.main-content {
    display: flex;
    justify-content: space-between;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    width: 20%;
}

.category-list {
    padding-left: 12px;
    cursor: pointer;
    height: 174px;
    overflow-y: auto;
    overflow-x: hidden;
}

.category-item {
    transition: all 0.5s ease;
}

.category-item:hover {
    color: var(--xiketic);
    transform: translateX(10px);
}

.category-item+.category-item {
    margin-top: 9px;
}

.search-input {
    padding: 9px;
    outline: none;
    border: 1px solid var(--xiketic);
    border-radius: var(--normal-radius);
    width: 140%;
}

.filter-search-group {
    padding: 9px;
    display: flex;
    justify-content: space-between;
    gap: 9px;
}

.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    border-radius: 3px;
}

.active,
.accordion:hover {
    background-color: #ccc;
}

.panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
}

.filter-choose {
    padding: 6px;
    width: 150px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.filter-direction {
    padding: 6px;
    width: 100px;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.search-group {
    display: flex;
    align-items: center;
    gap: 6px;
    justify-content: flex-end;
    max-width: 390px;
    width: 100%;
}



/* Right column */
.rightcolumn {
    width: 80%;
    padding-left: 20px;
}

.category-title {
    margin-bottom: 12px;
    text-align: center;
    padding: 6px 0;
    border-bottom: 1px solid var(--xiketic);
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    margin-top: 12px;
    border-radius: 3px;
    padding: 9px;
}

.reset-filter {
    background-color: transparent;
    padding: 0;
}

.card-list {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px 0;
    gap: 21px;
}

.card-item {
    width: 27%;
    border: 1px solid #333;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    position: relative;
    transition: all 0.3s ease;
}

.book-name {
    font-weight: 600;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.book-img {
    margin-bottom: 9px;
    max-width: 240px;
    max-height: 300px;
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.card-item:hover {
    box-shadow: var(--xiketic) 3px 6px 9px;
    transform: translateY(-3px);
}

.card-item:hover .card-on-hover {
    display: flex;
    background-color: rgba(51, 51, 51, 0.34);
}

.add-to-cart {
    background-color: white;
    padding: 6px;
    color: #333;
    border-radius: 3px;
    width: 150px;
}


.add-to-cart:hover {
    background-color: var(--selective-yellow);
    color: white;
}

.add-to-cart__detail {
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9px;
    border-radius: 3px;
    position: relative;
    top: 6px;
    width: 150px;
    display: flex;
}

.add-to-cart__quantity i {
    border: 1px solid #333;
    padding: 9px 12px;
    cursor: pointer;
}

.add-to-cart__quantity i:hover,
.real-add:hover {
    opacity: 0.6;
}

.real-add {
    width: 100%;
    background-color: var(--selective-yellow);
    height: 30px;
    border-radius: 3px;
    color: white;
}

.add-to-cart__quantity {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 9px;
    margin: 12px 0;
}

.card-on-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    animation: fadeIn 0.3s ease;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.book-price {
    margin-top: 6px;
    font-weight: 800;
    color: rgb(189, 184, 41);
}

.book-detail {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 12px;
    font-size: small;
    font-weight: 600;
    color: #333;
}

.see-more {
    margin: 30px auto;
    background-color: var(--selective-yellow);
    padding: 9px 24px;
    border-radius: 3px;
    color: white;
}

.see-more:hover {
    background-color: var(--xiketic);
}

.reset-filter button {
    width: 100%;
    height: 62px;
    background-color: white;
    border-radius: 3px;
}

.reset-filter button:hover {
    background-color: rgba(255, 255, 255, 0.473);
}

.search-btn {
    background-color: var(--xiketic);
    color: white;
    padding: 9px;
    border-radius: 3px;
    width: 60px;
}

.search-btn:hover {
    background-color: var(--selective-yellow);
}

/* Clear floats after the columns */
.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    background: #ddd;
    margin-top: 20px;
}

.logo {
    width: 50px;
    height: 50px;
}

.dropbtn {
    color: black;
    padding: 9px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
}

.dropdown-content {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    color: var(--xiketic);
}

/* Show the dropdown menu on hover */
.filter-group-res:hover .filter-res {
    display: block;
}

.category-res {
    display: flex;
    width: 100%;
    display: none;
}

.cate-res {
    flex: 1;
}

.div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.res-reset {
    display: none;
    padding: 3px 6px;
    border-radius: 3px;
}

.res-reset:hover {
    background-color: var(--xiketic);
}

@media (max-width:992px) {
    .card-item {
        width: 45%;
    }

    .filter-group {
        display: none;
    }

    .dropdown {
        display: inline-block;
    }

    .category-title {
        font-size: 12px;
    }

    .category-item {
        font-size: 12px;
    }

    .category-list {
        padding: 0;
    }
}

@media (max-width:576px) {
    .card-item {
        width: 100%;
    }

    .card-list {
        padding: 3px;
    }

    .leftcolumn {
        display: none;
    }

    .rightcolumn {
        width: 100%;
        padding: 0;
    }

    .category-res {
        display: flex;
    }

    .see-more {
        margin-top: 21px;
    }

    .res-reset {
        display: block;
    }

    body {
        padding: 0;
    }

}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: none;
    font-size: 1.8rem;
    font-weight: 300;
    list-style: none;
}

.pagination-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 6px;
}

.pagination-item__link {
    --height: 30px;
    text-decoration: none;
    color: #939393;
    min-width: 42px;
    height: var(--height);
    display: flex;
    line-height: var(--height);
    border-radius: 2px;
    justify-content: center;
    align-items: center;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.pagination-item__link--not-clickable {
    pointer-events: none;
    cursor: default;
}

.pagination-item__link:hover {
    background-color: rgba(209, 209, 209, 0.499);
}

.pagination-item__link--active {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link.pagination-item__link--active:hover {
    background-color: var(--light-green);
}

.user-information__pagination {
    margin: 24px;
}