<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Edit</title>
</head>
<body>
<h1>Edit Form</h1>
<hr>

<form th:action="@{/song/edit}" method="post" th:object="${songEdit}">

    <p>Name: <input type="text" th:field="*{name}"></p>
    <p>Performer: <input type="text" th:field="*{performer}" ></p>
    <p>Genre: <input type="text" th:field="*{genre}"></p>

    <input type="submit" value="Create">
    <button><a href="/song/list" style="text-decoration: none; color: black">Back</a></button>
</form>

</body>
</html>