<footer>

  <div class="footer-category">

    <div class="container">

      <div class="footer-category-box">

        <h3 class="category-box-title">Brand :</h3>

        <a href="#" class="footer-category-link">Fender</a>
        <a href="#" class="footer-category-link">Ibanez</a>
        <a href="#" class="footer-category-link">Martin</a>
        <a href="#" class="footer-category-link">Epiphone</a>
        <a href="#" class="footer-category-link">Gibson</a>
        <a href="#" class="footer-category-link">Nord</a>
        <a href="#" class="footer-category-link">Yamaha</a>
        <a href="#" class="footer-category-link">More...</a>

      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Category :</h3>

        <a href="#" class="footer-category-link">Electronic Guitar</a>
        <a href="#" class="footer-category-link">Electronic Piano</a>
        <a href="#" class="footer-category-link">Acoustic Guitar</a>
        <a href="#" class="footer-category-link">Acoustic Piano</a>
      </div>

      <div class="footer-category-box">
        <h3 class="category-box-title">Information :</h3>

        <a href="#" class="footer-category-link">More About Us</a>
        <a href="#" class="footer-category-link">Look For Store</a>
      </div>

    </div>

  </div>

  <div class="footer-nav">

    <div class="container">

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Contact</h2>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="location-outline"></ion-icon>
          </div>

          <address class="content">
            288 Tran Hung Dao,
            Ngu Hanh Son, Da Nang, Viet Nam
          </address>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="call-outline"></ion-icon>
          </div>

          <a href="tel:+607936-8058" class="footer-nav-link">0903369963</a>
        </li>

        <li class="footer-nav-item flex">
          <div class="icon-box">
            <ion-icon name="mail-outline"></ion-icon>
          </div>

          <a href="mailto:example@gmail.com" class="footer-nav-link">example@gmail.com</a>
        </li>

      </ul>

      <ul class="footer-nav-list">

        <li class="footer-nav-item">
          <h2 class="nav-title">Follow Us</h2>
        </li>

        <li>
          <ul class="social-link">

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-facebook"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-twitter"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-linkedin"></ion-icon>
              </a>
            </li>

            <li class="footer-nav-item">
              <a href="#" class="footer-nav-link">
                <ion-icon name="logo-instagram"></ion-icon>
              </a>
            </li>

          </ul>
        </li>

      </ul>

    </div>

  </div>

  <div class="footer-bottom">

    <div class="container">

      <img src="./assets/images/payment.png" alt="payment method" class="payment-img">

      <p class="copyright">
        Copyright &copy; <a href="#">Hudagon Music</a> all rights reserved.
      </p>

    </div>

  </div>

</footer>
