<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Facility Edit Form</h2>
    </header>
    <div class="row gtr-150">
      <div class="col-8 col-12-medium">

        <!-- Content -->
        <section id="content" style="height: 80%">
          <section>
            <form method="post" action="#">
              <div class="row gtr-uniform gtr-50">
                <div class="col-12">
                  <input type="text" name="name" id="name" value="" placeholder="Name"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="area" id="area" value="" placeholder="Area"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="cost" id="cost" value="" placeholder="Cost"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="maxPeople" id="maxPeople" value=""
                         placeholder="Max People"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="standardRoom" id="standardRoom" value=""
                         placeholder="Standard Room"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="poolArea" id="poolArea" value=""
                         placeholder="Pool Area"/>
                </div>
                <div class="col-6 col-12-xsmall">
                  <input type="text" name="numberOfFloors" id="numberOfFloors" value=""
                         placeholder="Number Of Floors"/>
                </div>
                <div class="col-6">
                  <select name="facilityType" id="facilityType">
                    <option value="">- Facility Type -</option>
                    <option value="1">Villa</option>
                    <option value="2">House</option>
                    <option value="3">Room</option>
                  </select>
                </div>
                <div class="col-6">
                  <select name="rentType" id="rentType">
                    <option value="">- Rent Type -</option>
                    <option value="1">Hour</option>
                    <option value="2">Day</option>
                    <option value="3">Month</option>
                  </select>
                </div>
                <div class="col-12">
                  <ul class="actions">
                    <li><input type="submit" value="Create" class="primary"/></li>
                    <li><input type="reset" value="Reset"/></li>
                  </ul>
                </div>
              </div>
            </form>
          </section>
        </section>

      </div>
      <div class="col-4 col-12-medium">

        <!-- Sidebar -->
        <section id="sidebar">
          <section>
            <h3>Chỉnh sửa Facility Furama</h3>
            <p>Một dòng gì đó</p>
            <p>Cụm từ này kia</p>
            <p>Vài câu nối lại</p>
            <p>Cấu thành đoạn văn</p>
          </section>
          <hr/>
          <section>
            <a href="#" class="image fit"><img src="/assets/images/aQuang.JPG" alt=""/></a>
            <h3>Đây là a Quang Database =))</h3>
          </section>
        </section>

      </div>
    </div>
  </div>
</div>
