<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2 style="font-size: 60px">Facility Management</h2>
    </header>

    <section id="content">

      <div class="row">

        <div class="column">
          <div class="card">
            <img src="assets/images/furamaVilla1.jpg" alt="Avatar" style="width:100%; height: 80%">
            <div class="container">
              <h4><b>Villa 1</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/images/furamaHouse1.jpg" alt="Avatar" style="width:100%; height: 100%">
            <div class="container">
              <h4><b>House 1</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/images/furamaRoom1.jpg" alt="Avatar" style="width:100%; height: 80%">
            <div class="container">
              <h4><b>Room 1</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>

        <div class="column">
          <div class="card">
            <img src="assets/images/furamaRoom2.jpg" alt="Avatar" style="width:100%; height: 80%">
            <div class="container">
              <h4><b>Room 2</b></h4>
              <p>Architect & Engineer</p>
            </div>
          </div>
        </div>


      </div>


    </section>

  </div>
</div>
