<main>

  <!-- Banner -->
  <div class="banner">

    <div class="container">

      <div class="slider-container has-scrollbar">

        <div class="slider-item">

          <img src="./assets/images/guitar-stock-1.jpg" alt="guitar-stock-1" class="banner-img">

        </div>

        <div class="slider-item">

          <img src="./assets/images/piano-stock-1.jpg" alt="modern sunglasses" class="banner-img">

        </div>
      </div>
    </div>
  </div>

  <router-outlet></router-outlet>

</main>



