<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2>Customer Edit Form</h2>
    </header>
    <div class="row gtr-150">
      <div class="col-8 col-12-medium">

        <!-- Content -->
        <section id="content" style="height: 80%">
          <section>
            <form [formGroup]="rfCustomerEdit" (ngSubmit)="edit()">
              <div class="row gtr-uniform gtr-50">

                <div class="col-4">
                  <input disabled type="text" formControlName="id" placeholder="Id"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['id'].hasError('required') &&
                    (rfCustomerEdit.controls['id']).touched">
                      Id is required!
                    </div>

                    <div *ngIf="rfCustomerEdit.controls['id'].hasError('pattern') &&
                    (rfCustomerEdit.controls['id'])">
                      Id must be the same as format!
                    </div>
                  </div>
                </div>

                <div class="col-8">
                  <input type="text" formControlName="name" placeholder="Name"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['name'].hasError('required') &&
                    (rfCustomerEdit.controls['name']).touched">
                      Name is required!
                    </div>
                  </div>
                </div>

                <div class="col-8">
                  <input type="email" formControlName="email" placeholder="Email"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['email'].hasError('required') &&
                    (rfCustomerEdit.controls['email']).touched">
                      Email is required!
                    </div>

                    <div *ngIf="rfCustomerEdit.controls['email'].hasError('pattern') &&
                    (rfCustomerEdit.controls['email'])">
                      Email must be the same as format!
                    </div>
                  </div>
                </div>

                <div class="col-4">
                  <input type="text" formControlName="dateOfbirth" placeholder="Birthday"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['dateOfbirth'].hasError('required') &&
                    (rfCustomerEdit.controls['dateOfbirth']).touched">
                      Birthday is required!
                    </div>

                    <div *ngIf="rfCustomerEdit.controls['dateOfbirth'].hasError('pattern') &&
                    (rfCustomerEdit.controls['dateOfbirth'])">
                      Birthday must be the same as format!
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <select formControlName="gender" id="gender">
                    <option value="0" selected>- Gender -</option>
                    <option value="1">Male</option>
                    <option value="2">Female</option>
                    <option value="3">LGBT</option>
                  </select>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['gender'].hasError('pattern') &&
                    (rfCustomerEdit.controls['gender']).touched">
                      Gender is required!
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <select formControlName="customerType" id="category">
                    <option value="0" selected>- Customer Type -</option>
                    <option value="1">Diamond</option>
                    <option value="2">Gold</option>
                    <option value="3">Silver</option>
                    <option value="4">Bronze</option>
                    <option value="5">Member</option>
                  </select>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['customerType'].hasError('pattern') &&
                    (rfCustomerEdit.controls['customerType']).touched">
                      Customer Type is required!
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <input type="text" formControlName="idCard" placeholder="Id Card"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['idCard'].hasError('required') &&
                    (rfCustomerEdit.controls['idCard']).touched">
                      Id Card is required!
                    </div>

                    <div *ngIf="rfCustomerEdit.controls['idCard'].hasError('pattern') &&
                    (rfCustomerEdit.controls['idCard'])">
                      Id Card must be the same as format!
                    </div>
                  </div>
                </div>

                <div class="col-6">
                  <input type="text" formControlName="phoneNumber" placeholder="Phone Number"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['phoneNumber'].hasError('required') &&
                    (rfCustomerEdit.controls['phoneNumber']).touched">
                      Phone Number is required!
                    </div>

                    <div *ngIf="rfCustomerEdit.controls['phoneNumber'].hasError('pattern') &&
                    (rfCustomerEdit.controls['phoneNumber'])">
                      Phone Number must be the same as format!
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <input type="text" formControlName="address" placeholder="Address"/>

                  <div class="invalid-feedback" style="display: flex; color: red;
                  align-content: center; justify-content: center">
                    <div *ngIf="rfCustomerEdit.controls['address'].hasError('required') &&
                    (rfCustomerEdit.controls['address']).touched">
                      Address is required!
                    </div>
                  </div>
                </div>

                <div class="col-12">
                  <ul class="actions">
                    <li><input [disabled]="rfCustomerEdit.invalid" type="submit" class="primary"></li>
                  </ul>
                </div>

              </div>
            </form>
          </section>
        </section>

      </div>

      <div class="col-4 col-12-medium">

        <!-- Sidebar -->
        <section id="sidebar">
          <section>
            <h3>Chỉnh sửa Customer Furama</h3>
            <p>Một dòng gì đó</p>
            <p>Cụm từ này kia</p>
            <p>Vài câu nối lại</p>
            <p>Cấu thành đoạn văn</p>
          </section>
          <hr/>
          <section>
            <a href="#" class="image fit"><img src="assets/images/vanlacrush.jpg" alt=""/></a>
            <h3>Van la crush cua toi thoi =))</h3>
          </section>
        </section>

      </div>
    </div>
  </div>
</div>

<style>

  #content section {
    padding: 30px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  }

  body {
    background-image: -webkit-linear-gradient(top, rgba(23, 24, 32, 0.95),
    rgba(23, 24, 32, 0)), url("assets/images/pic06.jpg");
    background-size: cover;
  }

  #sidebar section {

    font-family: "Segoe UI";

  }
</style>
