
/* Container */

.app__container {
  background-color: var(--container-background-color);
}

.app_content {
  padding-top: 27px;
  padding-bottom: 27px;
}

/* Authen Modal */
.auth-form {
  background-color: var(--white-color);
  width: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.auth-form.register-form {
    display: none;
}

.auth-form.login-form {
    display: none;
}

.auth-form__container {
  width: auto;
  padding: 0 32px;
}

.auth-form__header {
  padding: 36px 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.auth-form__header-heading {
  font-size: 2.2rem;
  font-weight: 450;
  color: var(--text-color);
}

.auth-form__header-switch-btn {
  color: var(--primary-color);
  font-size: 1.6rem;
  font-weight: 400;
  cursor: pointer;
}

.form-group__input {
  margin-top: 16px;
  height: 40px;
  width: 100%;
  padding: 0 12px;
  font-size: 1.4rem;
  border: 1px solid var(--border-color);
  border-radius: 2px;
  outline: none;
}

.form-group__input:focus {
  border-color: #777;
}

.auth-form__extend {
  margin-top: 18px;
}

.auth-form__policy {
  padding: 0 3px;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-align: center;
}

.auth_form__text-link {
  color: var(--primary-color);
  text-decoration: none;
}

.auth-form__control {
  margin-top: 80px;
  display: flex;
  justify-content: flex-end;
}

.auth-form__control .btn:first-child:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.auth-form__control .btn:first-child {
  margin-right: 10px;
}

.auth-form__social {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
  padding: 14px 36px;
  background-color: #f5f5f5;
}

.auth-form__social-icon {
  font-size: 2rem;
}

.auth-form__social--facebook {
  color: var(--white-color);
  background-color: #3a5a98;
}

.auth-form__social--google {
  background-color: var(--white-color);
  color: var(--text-color);
}

.auth-form__social--facebook .auth-form__social-icon {
  color: var(--white-color);
}

.auth-form__social .btn {
  display: flex;
}

.auth-form__social-btn-title {
  margin: 0 32px;
}

.auth-form__extend-help {
  display: flex;
  justify-content: flex-end;
}

.extend-help__separate {
  display: block;
  border-left: 1px solid #eaeaea;
  height: 22px;
  margin: -3px 16px 0 16px;
}

.extend-help__link {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--text-color);
}

.extend-help__link:first-child {
  color: var(--primary-color);
}
