<header class="header">
  <div class="grid">
    <!-- Header navbar -->
    <nav class="header__navbar">
      <ul class="header__navbar-list">
        <li
          class="navbar-list__navbar-item navbar-list__navbar-item--qr-hover navbar-list__navbar-item--separate"
        >
          Vào cửa hàng trên ứng dụng Hudagon - music

          <!-- Qr code -->
          <div class="navbar-item__qr-code">
            <img
              src="/assets/img/others/qr-code.png"
              alt="Ảnh Qr code"
              class="qr-code__img"
            />
            <div class="qr-code__qr-apps">
              <a href="" class="qr-apps__download-link">
                <img
                  src="/assets/img/others/app-store.png"
                  alt="App store"
                  class="qr-code__download-img"
              /></a>
              <a href="" class="qr-apps__download-link">
                <img
                  src="/assets/img/others/google-play.png"
                  alt="Google play"
                  class="qr-code__download-img"
              /></a>
            </div>
          </div>
        </li>
        <li class="navbar-list__navbar-item">
          <span class="navbar-item__title--no-pointer">Kết nối</span>
          <a href="" class="navbar-item__link">
            <i class="link__icon fa-brands fa-facebook"></i>
          </a>
          <a href="" class="navbar-item__link">
            <i class="link__icon fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>

      <ul class="header__navbar-list">
        <li class="navbar-list__navbar-item navbar-list__navbar-item--hover">
          <a href="" class="navbar-item__item-link">
            <i class="link__icon fa-solid fa-bell"></i>
            Thông báo
          </a>

          <!-- Notification Board -->
          <div class="navbar-item__notification-board">
            <header class="notification-board__notification-header">
              <h4>Thông báo mới nhận</h4>
            </header>
            <ul class="notification-board__notification-list">
              <li
                class="notification-list__notification-item notification-list__notification-item--viewed"
              >
                <a href="" class="notification-item__notification-link">
                  <div class="notification-link__img-container">
                    <img
                      src="https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_square.jpg"
                      alt=""
                      class="notification-link__notification-img"
                    />
                  </div>
                  <div class="notification-link__notification-info">
                    <span class="notification-info__name"
                      >Mỹ phẩm Ohui chinh</span
                    >
                    <span class="notification-info__desc"
                      >Mô tả mỹ phẩm Ohui chinh</span
                    >
                  </div>
                </a>
              </li>
              <li class="notification-list__notification-item">
                <a href="" class="notification-item__notification-link">
                  <div class="notification-link__img-container">
                    <img
                      src="http://www.alleycat.org/wp-content/uploads/2019/03/FELV-cat.jpg"
                      alt=""
                      class="notification-link__notification-img"
                    />
                  </div>
                  <div class="notification-link__notification-info">
                    <span class="notification-info__name"
                      >Mỹ phẩm Ohui chính hãng 100% thành phần tự nhiên thân
                      thiện với môi trường</span
                    >
                    <span class="notification-info__desc"
                      >Mỹ phẩm Ohui chính hãng 100% thành phần tự nhiên thân
                      thiện với môi trường</span
                    >
                  </div>
                </a>
              </li>
              <li class="notification-list__notification-item">
                <a href="" class="notification-item__notification-link">
                  <div class="notification-link__img-container">
                    <img
                      src="https://media.npr.org/assets/img/2021/08/11/gettyimages-1279899488_wide-f3860ceb0ef19643c335cb34df3fa1de166e2761-s1100-c50.jpg"
                      alt=""
                      class="notification-link__notification-img"
                    />
                  </div>
                  <div class="notification-link__notification-info">
                    <span class="notification-info__name"
                      >Mỹ phẩm Ohui chính hãng 100% thành phần tự nhiên thân
                      thiện với môi trường</span
                    >
                    <span class="notification-info__desc"
                      >Mô tả mỹ phẩm Ohui chinh hãng 100% thành phần tự nhiên
                      thân thiện với môi trường</span
                    >
                  </div>
                </a>
              </li>
              <li class="notification-list__notification-item">
                <a href="" class="notification-item__notification-link"
                  ><div class="notification-link__img-container">
                    <img
                      src="https://cdn.britannica.com/39/7139-050-A88818BB/Himalayan-chocolate-point.jpg"
                      alt=""
                      class="notification-link__notification-img"
                    />
                  </div>
                  <div class="notification-link__notification-info">
                    <span class="notification-info__name"
                      >Mỹ phẩm Ohui chinh</span
                    >
                    <span class="notification-info__desc"
                      >Mô tả mỹ phẩm Ohui chinh</span
                    >
                  </div>
                </a>
              </li>
              <li class="notification-list__notification-item">
                <a href="" class="notification-item__notification-link"
                  ><div class="notification-link__img-container">
                    <img
                      src="https://upload.wikimedia.org/wikipedia/commons/1/15/Cat_August_2010-4.jpg"
                      alt=""
                      class="notification-link__notification-img"
                    />
                  </div>
                  <div class="notification-link__notification-info">
                    <span class="notification-info__name"
                      >Mỹ phẩm Ohui chinh</span
                    >
                    <span class="notification-info__desc"
                      >Mô tả mỹ phẩm Ohui chinh</span
                    >
                  </div>
                </a>
              </li>
            </ul>
            <footer class="notification-board__notification-footer">
              <a href="" class="notification-footer__btn">Xem tất cả</a>
            </footer>
          </div>
        </li>
        <li class="navbar-list__navbar-item">
          <a href="" class="navbar-item__item-link">
            <i class="link__icon fa-regular fa-circle-question"></i>
            Trợ giúp
          </a>
        </li>
        <li
          (click)="openAuthenModal('register')"
          *ngIf="!checkLogin"
          id="registerLink"
          class="navbar-list__navbar-item navbar-list__navbar-item--strong navbar-list__navbar-item--separate"
        >
          Đăng ký
        </li>
        <li
          (click)="openAuthenModal('login')" 
          *ngIf="!checkLogin"
          id="loginLink"
          class="navbar-list__navbar-item navbar-list__navbar-item--strong"
        >
          Đăng nhập
        </li>

        <li
          *ngIf="checkLogin"
          class="navbar-list__navbar-item navbar-item__user"
        >
          <img
            src="{{ userInformation.avatar }}"
            alt=""
            class="navbar-item__user-img"
          />
          <span class="navbar-item__user-name">{{
            userInformation.lastName
          }}</span>

          <ul class="navbar-item__user-menu">
            <li class="user-menu__item">
              <a [routerLink]="['/user-info/user-info-detail']" class="">Tài khoản của tôi</a>
            </li>
            <li class="user-menu__item">
              <a [routerLink]="['/user-info/history']" class="">Đơn mua</a>
            </li>
            <li class="user-menu__item">
              <a (click)="logOut()" class="">Đăng xuất</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>

    <!-- Header search -->
    <div class="header__search">
      <!-- Header search - Header logo -->
      <div class="header__search-logo">
        <a href="" class="search-logo__link">
          <img
            src="/assets/img/others/logo.png"
            alt=""
            class="search-logo__img"
          />
        </a>
      </div>

      <!-- Header search - Header search bar -->
      <div class="header__search-search-bar">
        <div class="search-search-bar__input-wrap">
          <input
            [(ngModel)]="productSearchName"
            (keyup.enter)="searchProduct()"
            type="text"
            class="search-search-bar__input"
            placeholder="Bạn muốn tìm gì?..."
          />

          <!-- Search history -->
          <div class="search-search-bar__input-history">
            <h3 class="input-history__heading">Lịch sử tìm kiếm</h3>
            <ul class="input-history__list">
              <li class="input-history__list-item">
                <a href="">Kem dưỡng da</a>
              </li>
              <li class="input-history__list-item">
                <a href="">Kem trị mụn</a>
              </li>
              <li class="input-history__list-item">
                <a href="">Dầu dưỡng tóc</a>
              </li>
            </ul>
          </div>
        </div>

        <div class="search-search-bar__select">
          <span class="search-search-bar__select-label"> Trong shop </span>
          <ion-icon
            class="search-search-bar__icon"
            name="chevron-down-outline"
          ></ion-icon>

          <ul class="search-search-bar__select-option">
            <li class="select-option__item select-option__item--active">
              <span>Trong shop</span>
              <ion-icon name="checkmark-outline"></ion-icon>
            </li>
            <li class="select-option__item">
              <span>Ngoài shop</span>
              <ion-icon name="checkmark-outline"></ion-icon>
            </li>
          </ul>
        </div>

        <button (click)="searchProduct()" type="submit" class="search-search-bar__btn">
          <ion-icon
            class="search-search-bar__btn-icon"
            name="search-outline"
          ></ion-icon>
        </button>
      </div>

      <!-- Header search - Cart -->
      <div class="header__search-cart">
        <div class="header__search-cart-wrap">
          <ion-icon class="search-cart__icon" name="cart-outline"></ion-icon>

          <span class="search-cart__badge">{{currentCartQuantity}}</span>

          <!-- No item: search-cart__detail--nothing -->
          <div [ngClass]="{'search-cart__detail--nothing' : productOrderDetailList.length === 0}" 
               class="search-cart__detail">
            <img
              src="/assets/img/others/no-cart.png"
              alt=""
              class="search-cart__detail-no-card-img"
            />
            <span class="search-cart__detail-no-cart-msg"
              >Chưa có sản phẩm</span
            >

            <h4 class="search-cart__detail-heading">Sản phẩm đã thêm</h4>

            <ul class="search-cart__detail-list-item">
              <!-- Cart item -->
              <li class="detail-list-item__item" *ngFor="let x of productOrderDetailList, let i = index">
                <img
                  src="{{x.product.imgUrlProductList[0].url}}"
                  alt="Ảnh mèo"
                  class="detail-list-item__item-img"
                />

                <div class="detail-list-item__item-info">
                  <div class="item-info__head">
                    <h5 class="item-info__head-name">
                      {{x.product.name}}
                    </h5>

                    <div class="item-info__head-price-wrap">
                      <span class="item-info__head-price">{{x.product.price | currency:'VND'}}</span>
                      <span class="item-info__head-multiply">x</span>
                      <span class="item-info__head-quantity">{{x.quantity}}</span>
                    </div>
                  </div>

                  <div class="item-info__body">
                    <span class="item-info__body-desc">     </span>
                    <span (click)="removeFromCart(x.id)" class="item-info__body-remove">Xóa</span>
                  </div>
                </div>
              </li>
            </ul>

            <button hidden (click)="getProductOrder()" id="reloadHeaderViewCart"></button>
            <button
              [routerLink]="['/cart',userId]"
              class="search-cart__detail-checkout btn btn--primary"
            >
              Xem giỏ hàng
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<!-- Modal authen -->
<div id="authenModal" class="modal">
  <div (click)="closeAuthenModal()" id="modalOverlay" class="modal__overlay"></div>
  <div class="modal__content">
    <!-- Register Form -->
    <div id="registerModal" class="auth-form register-form">
      <div class="auth-form__container">
        <div class="auth-form__header">
          <h3 class="auth-form__header-heading">Đăng Ký</h3>
          <span (click)="openAuthenModal('login')" id="loginLinkInside" class="auth-form__header-switch-btn">
            Đăng nhập
          </span>
        </div>

        <div class="auth-form__form">
          <div class="auth-form__form-group">
            <input
              type="text"
              class="form-group__input"
              placeholder="Nhập tên đăng nhập của bạn..."
            />
          </div>
        </div>

        <div class="auth-form__form">
          <div class="auth-form__form-group">
            <input
              type="password"
              class="form-group__input"
              placeholder="Nhập mật khẩu của bạn..."
            />
          </div>
        </div>

        <div class="auth-form__form">
          <div class="auth-form__form-group">
            <input
              type="password"
              class="form-group__input"
              placeholder="Nhập lại mật khẩu..."
            />
          </div>
        </div>

        <div class="auth-form__extend">
          <p class="auth-form__policy">
            Bằng việc đăng ký, bạn đã đồng ý với Hudagon - Music về
            <a href="" class="auth_form__text-link">Điều khoản dịch vụ</a>
            &
            <a href="" class="auth_form__text-link">Chính sách bảo mật</a>
          </p>
        </div>

        <div class="auth-form__control">
          <button class="btn">TRỞ LẠI</button>
          <button class="btn btn--primary">ĐĂNG KÝ</button>
        </div>
      </div>

      <div class="auth-form__social">
        <a
          href=""
          class="auth-form__social--facebook btn btn--size-s btn--with-icon"
        >
          <i class="auth-form__social-icon fa-brands fa-square-facebook"></i>
          <span class="auth-form__social-btn-title">
            Kết nối với Facebook
          </span>
        </a>
        <a
          href=""
          class="auth-form__social--google btn btn--size-s btn--with-icon"
        >
          <i class="auth-form__social-icon fa-brands fa-google"></i>
          <span class="auth-form__social-btn-title"> Kết nối với Google </span>
        </a>
      </div>
    </div>

    <!-- Login Form -->
    <form
      [formGroup]="rfLogin"
      (ngSubmit)="login()"
      id="loginModal"
      class="auth-form login-form"
    >
      <div class="auth-form__container">
        <div class="auth-form__header">
          <h3 class="auth-form__header-heading">Đăng Nhập</h3>
          <span (click)="openAuthenModal('register')" id="registerLinkInside" class="auth-form__header-switch-btn">
            Đăng Ký
          </span>
        </div>

        <div class="auth-form__form">
          <div class="auth-form__form-group">
            <input
              formControlName="username"
              type="text"
              class="form-group__input"
              placeholder="Nhập tên đăng nhập của bạn..."
            />
          </div>
        </div>

        <div class="auth-form__form">
          <div class="auth-form__form-group">
            <input
              formControlName="password"
              type="password"
              class="form-group__input"
              placeholder="Nhập lại mật khẩu..."
            />
          </div>
        </div>

        <div class="auth-form__extend">
          <div class="auth-form__extend-help">
            <a href="" class="extend-help__link">Quên mật khẩu</a>
            <span class="extend-help__separate"></span>
            <a href="" class="extend-help__link">Cần trợ giúp?</a>
          </div>
        </div>

        <div class="auth-form__control">
          <button class="btn">TRỞ LẠI</button>
          <button type="submit" class="btn btn--primary">ĐĂNG NHẬP</button>
        </div>
      </div>

      <div class="auth-form__social">
        <a
          href=""
          class="auth-form__social--facebook btn btn--size-s btn--with-icon"
        >
          <i class="auth-form__social-icon fa-brands fa-square-facebook"></i>
          <span class="auth-form__social-btn-title">
            Kết nối với Facebook
          </span>
        </a>
        <a
          href=""
          class="auth-form__social--google btn btn--size-s btn--with-icon"
        >
          <i class="auth-form__social-icon fa-brands fa-google"></i>
          <span class="auth-form__social-btn-title"> Kết nối với Google </span>
        </a>
      </div>
    </form>
  </div>
</div>
