<header>
  <div class="header-top">

    <div class="container">

      <ul class="header-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

      <div class="header-top-actions">

        <select name="language">

          <option>English</option>
          <option>Tiếng Việt</option>

        </select>

      </div>

    </div>

  </div>

  <div class="header-main">

    <div class="container" style="display: flex; justify-content: center; align-items: center">

      <a href="#" class="header-logo" style="height: 10vh">
        <img src="./assets/images/logo/hudagon-logo.JPG" alt="Anon's logo" width="100" height="36">
      </a>

    </div>

  </div>

</header>

<!--<div class="container-login">-->
<!--  <div class="login">-->
<!--    <form>-->
<!--      <h1 class="newsletter-title">Login</h1>-->
<!--      <p class="newsletter-desc" style="color: white">-->
<!--        Welcome back, friend!-->
<!--      </p>-->
<!--      <hr/>-->
<!--      <input type="email" name="email" class="email-field" placeholder="username..." required>-->
<!--      <input type="password" class="email-field" placeholder="password..." required>-->
<!--      <button type="submit" class="btn-newsletter">Login</button>-->
<!--    </form>-->
<!--  </div>-->
<!--  <div class="pic">-->
<!--    <img src="assets/images/login.jpg"/>-->
<!--  </div>-->
<!--</div>-->

<div class="container-login">

  <div class="login-board">
    <div class="login-form">
      <div class="login-body">
        <div class="header">
          <h2>LOGIN</h2>
          <h4 style="margin-top: 0">Welcome Friend!</h4>
        </div>
        <hr>
        <div class="body">
          <input type="text" placeholder="username...">
          <input type="password" placeholder="password...">
          <button>Login</button>
        </div>
      </div>
    </div>
    <div class="login-img">
      <img src="assets/images/login.jpg" alt="">
    </div>
  </div>

</div>
