h1 {
    margin: 0px;
    font-size: 50px;
}

h3 {
    font-family: Arial, serif;
    font-weight: lighter;
    margin-top: 5px;
}

hr {
    margin: 0px;
}

p {
    font-family: Arial, serif;
    font-size: 20px;
    text-align: justify;
    text-indent: 50px;
}

a {
    text-decoration: none;
}