<app-header></app-header>

<section id="detail" class="clearfix">
  <div class="container">
    <div class="row">
      <div class="detail_1 clearfix">
        <div class="col-sm-6">
          <div class="carousel slide article-slide" id="article-photo-carousel">

            <!-- Wrapper for slides -->
            <div class="carousel-inner cont-slider">

              <div class="item">
                <div class="mag">
                  <div class="magnify"><img data-toggle="magnify" src="assets/images/drum-banner.jpg" alt="">
                    <div class="magnify-large"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="mag">
                  <div class="magnify"><img data-toggle="magnify" src="assets/images/amlipier-banner.jpg" alt="">
                    <div class="magnify-large"></div>
                  </div>
                </div>
              </div>
              <div class="item">
                <div class="mag">
                  <div class="magnify"><img data-toggle="magnify" src="assets/images/piano-banner.jpg" alt="">
                    <div class="magnify-large"></div>
                  </div>
                </div>
              </div>
              <div class="item active">
                <div class="mag">
                  <div class="magnify"><img data-toggle="magnify" src="assets/images/guitar-banner.jpg" alt="">
                    <div class="magnify-large"></div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Indicators -->
            <ol class="carousel-indicators">
              <li class="" data-slide-to="0" data-target="#article-photo-carousel">
                <img alt="" src="assets/images/drum-banner.jpg">
              </li>
              <li class="" data-slide-to="1" data-target="#article-photo-carousel">
                <img alt="" src="assets/images/amlipier-banner.jpg">
              </li>
              <li class="" data-slide-to="2" data-target="#article-photo-carousel">
                <img alt="" src="assets/images/piano-banner.jpg">
              </li>
              <li class="active" data-slide-to="3" data-target="#article-photo-carousel">
                <img alt="" src="assets/images/guitar-banner.jpg">
              </li>
            </ol>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="detail_1r clearfix">
            <h2 class="mgt">Semper Porta</h2>
            <span class="col_1 span_1">
	   <i class="fa fa-star"></i>
	   <i class="fa fa-star"></i>
	   <i class="fa fa-star"></i>
	   <i class="fa fa-star"></i>
	   <i class="fa fa-star-half-o"></i>
	  </span>
            <h1 class="col_2">$68</h1>
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit nean commodo ligula eget dolor. Aenean massa.
              Cum sociis Theme natoque penatibus et magnis dis. Etiam ultricies nisi vel augue.</p><br>
            <h5>Quantity</h5>
            <div class="input-group number-spinner">
				<span class="input-group-btn">
					<button class="btn btn-default" data-dir="dwn"><span class="glyphicon glyphicon-minus"></span></button>
				</span>
              <input type="text" class="form-control text-center" value="1">
              <span class="input-group-btn">
					<button class="btn btn-default" data-dir="up"><span class="glyphicon glyphicon-plus"></span></button>
				</span></div>
            <h4><a class="button mgt" href="#">Add to cart</a></h4>
            <ul>
              <li>SKU: <span >2235</span></li>
              <li>Category: <span><a href="#">Clothes</a></span></li>
              <li>Tags: <span><a href="#">Blue</a></span> </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
