<header>
  <div class="header-top">

    <div class="container">

      <ul class="header-social-container">

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-facebook"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-twitter"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-instagram"></ion-icon>
          </a>
        </li>

        <li>
          <a href="#" class="social-link">
            <ion-icon name="logo-linkedin"></ion-icon>
          </a>
        </li>

      </ul>

      <div class="header-top-actions">

        <select name="language">

          <option>English</option>
          <option>Tiếng Việt</option>

        </select>

      </div>

    </div>

  </div>

  <div class="header-main">

    <div class="container" style="display: flex; justify-content: center; align-items: center">

      <a href="#" class="header-logo">
        <img src="./assets/images/logo/hudagon-logo.JPG" alt="Anon's logo" width="200" height="72">
      </a>

    </div>

  </div>

</header>

<div class="container-login">
  <div class="login">
    <form>
      <h1 class="newsletter-title">Login</h1>
      <p class="newsletter-desc" style="color: white">
        Welcome back, friend!
      </p>
      <hr/>
      <input type="email" name="email" class="email-field" placeholder="username..." required>
      <input type="password" class="email-field" placeholder="password..." required>
      <button type="submit" class="btn-newsletter">Login</button>
    </form>
  </div>
  <div class="pic">
    <img src="assets/images/login.jpg"/>
  </div>
</div>

