.main-content {
    width: 100%;
}

.main-content__header {
    width: 100%;
    background-color: white;
    border-radius: 2px;
}

.main-content__header-group {
    list-style: none;
    display: flex;
    width: 100%;
}

.header-group__item {
    font-size: 1.5rem;
    font-weight: 400;
    height: 42px;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2px;
}

.header-group__item.activated {
    border-bottom: 3px solid var(--primary-color);
}

.main-content__body {
    width: 100%;
    border-radius: 2px;
    margin-top: 12px;
}

.main-content__body-group-product {
    list-style: none;
}

.item-header__top {
    font-size: 1.8rem;
    text-align: end;
    color: var(--primary-color);
    padding: 0 0 21px 0;
    border-bottom: 1px solid var(--border-color);
}

.item-header__top span:first-child {
    float: left;
}

.item-header__bottom {
    margin-top: 15px;
    display: flex;
}

.item-header__bottom-detail {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 9px;
}

.bottom-detail__title {
    font-size: 1.8rem;
}

.bottom-detail__category {
    font-size: 1.5rem;
    color: var(--text-color);
    opacity: 0.8s;
    margin-top: 3px;
}

.bottom-detail__quantity {
    font-size: 1.2rem;
}

.item-header__bottom-img {
    width: 81px;
    height: 81px;
    object-fit: cover;
}

.item-header__bottom-price {
    font-size: 2.1rem;
    display: flex;
    justify-content: end;
    align-items: end;
    flex: 1;
    color: #fa8072;
    margin-right: 12px;
}

.body-group-product__item-body {
    margin-top: 12px;
    border-top: 1px solid var(--primary-color);
    padding: 24px 0;
    background-color: #7b904921;
}

.item-body__top {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 12px;
}

.item-body__top span:first-child {
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    line-height: 3rem;
}

.item-body__top ion-icon {
    margin-right: 6px;
    color: #fa8072;
}

.item-body__top span:last-child {
    font-size: 2.4rem;
    color: #fa8072;
    font-weight: 500;
    margin-left: 12px;
}

.item-body__bottom {
    padding: 12px 12px 0;
    margin-top: 12px;
    display: flex;
    align-items: center;
    justify-content: end;
}

.item-body__bottom span {
    margin-right: auto;
    font-size: 1.2rem;
    color: var(--text-color);
    opacity: 0.8;
}

 button + button {
    margin-left: 12px;
}

.body-group-product__item-list {
    list-style: none;
    height: 150px;
    overflow-y: auto;
}

.body-group-product__item {
    background-color: white;
    margin-bottom: 24px;
    padding: 24px;
    border-radius: 2px;
}
