<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2 style="font-size: 60px">Contract Management</h2>
    </header>
    <!-- Content -->
    <section id="content">
      <div class="table-responsive">
        <div class="table-wrapper">
          <table class="alt">

            <thead>
            <tr>
              <th>N.o</th>
              <th>Facility</th>
              <th>Customer</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Deposit</th>
              <th>Total Money</th>
              <th>Attach Facilites</th>
            </tr>
            </thead>

            <tbody>
            <tr>
              <td>1</td>
              <td>Villa 001</td>
              <td>Lê Trần Thảo Nhi</td>
              <td>20-11-2022</td>
              <td>21-11-2022</td>
              <td>10000</td>
              <td>90000</td>
              <td class="table-actions">
                <button class="button button-af">Attach Facilites</button>
              </td>
            </tr>

            <tr>
              <td>2</td>
              <td>Room 001</td>
              <td>Đỗ Hoàng Đức</td>
              <td>10-11-2022</td>
              <td>10-11-2022</td>
              <td>10000</td>
              <td>90000</td>
              <td class="table-actions">
                <button class="button button-af">Attach Facilites</button>
              </td>
            </tr>
            </tbody>

          </table>
        </div>
      </div>
    </section>

  </div>
</div>
