<div id="main" class="wrapper style1">
  <div class="container">
    <header class="major">
      <h2 style="font-size: 60px">Contract Management</h2>
    </header>
    <!-- Content -->
    <section id="content">
      <div class="table-responsive">
        <div class="table-wrapper">
          <table class="alt">

            <thead>
            <tr>
              <th>N.o</th>
              <th>Start Date</th>
              <th>End Date</th>
              <th>Deposit</th>
              <th>Total Money</th>
              <th>Attach Facilites</th>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let x of contractList, let i = index">
              <td>{{i + 1}}</td>
              <td>{{x.startDate}}</td>
              <td>{{x.endDate}}</td>
              <td>{{x.deposit}}</td>
              <td>{{x.totalMoney}}</td>
              <td class="table-actions" style="display: flex; align-content: center; justify-content: center">
                <button class="button button-af">Attach Facilites</button>
              </td>
            </tr>

            </tbody>

          </table>
        </div>
      </div>
    </section>

  </div>
</div>
